.content {
  width: 800px;
  margin: 0 auto; }

section {
  background-color: #60B9CE;
  width: 360px;
  margin: 20px;
  padding: 10px 0 0 0; }
  section input, section textarea, section pre {
    background-color: #ffffff;
    resize: none;
    margin: 10px 20px;
    padding: 5px;
    width: 320px;
    border: 0; }
    section input.properties, section textarea.properties, section pre.properties {
      width: 310px; }

.editorconfig {
  float: left; }

.output {
  float: right; }
